*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  display: flex;
  align-items: center;
  gap: 3em;
  justify-content: center;
  padding: 1em;
}

nav {
  width: 22.5em;
}

.nav-element {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-element li a {
  text-decoration: none;
  color: #000;
}

/* Cards */

#cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 90%;
  margin: 2em auto;
}

.card {
  margin-bottom: 1em;
}

.card-image {
  width: 12em;
}

.like-button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

/* Footer */

footer {
  padding: 2em;
  border-top: 1px solid #000;
  width: 100%;
  background-color: #fff;
  margin-top: 1em;
}

footer p {
  font-size: 1.2em;
}
