*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  background-color: #d2e054;
}

/* Header */
header {
  display: flex;
  align-items: center;
  gap: 3em;
  justify-content: center;
  padding: 1em;
  min-height: 8rem;
  background-color: #48983021;
  box-shadow: rgba(0, 0, 0, 0.15) 5.4px 2.4px 3.2px;
}

#logo {
  width: 7rem;
}

nav {
  width: 22.5em;
}

.nav-element {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-element li a {
  text-decoration: none;
  color: #000;
}

/* Cards */

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  width: 90%;
  margin: 2em auto;
}

.card {
  margin-bottom: 1em;
  padding: 1rem;
  border: 2px solid #000;
  background-color: #fffac2;
  border-radius: 15px;
}

.card-image {
  width: 12em;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h4 {
  max-width: 6rem;
  margin-top: 0.7rem;
}

.containerCardTitleLikeBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerLikes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.like-button {
  border: none;
  cursor: pointer;
  background: url('./assets/web_heart_animation.webp');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1450px;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.like-button:hover {
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-name: heartTransition;
  animation-timing-function: steps(28);
  background-position: right;
}

@-webkit-keyframes heartTransition {
  0% { background-position: left; }
  100% { background-position: right; }
}

@keyframes heartTransition {
  0% { background-position: left; }
  100% { background-position: right; }
}

/* Footer */

footer {
  padding: 2em;
  width: 100%;
  background-color: #48983021;
  margin-top: 1em;
}

footer p {
  font-size: 1.2em;
}

/* Pop up Window */

button {
  cursor: pointer;
}

.popup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
}

.popup-ele {
  position: fixed;
  z-index: 2;
  top: 1em;
  padding: 1em;
  height: 95%;
  overflow: scroll;
  width: 70%;
  background-color: #d2e054;
  border: 4px ridge #000;
  border-radius: 15px;
}

.popup-ele::-webkit-scrollbar {
  display: none;
}

.overflow-h {
  overflow: hidden;
}

.popup-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-description img {
  width: 15em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 5.4px 3.4px 3.2px;
  border: 2px solid #000;
  border-radius: 6px;
}

.button-div {
  display: flex;
  flex-direction: row-reverse;
}

.quit-button {
  border: none;
  cursor: pointer;
  background-color: unset;
  height: 2.25em;
}

.quit-button img {
  width: 2.2em;
}

.popup-description-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
  row-gap: 1em;
  margin: 1.5em;
}

.popup-description-elements p {
  font-size: 1.1em;
}

.popup-description-elements p,
.comments-elements li p {
  color: #000000f0;
}

.comments-section {
  margin-bottom: 1.5em;
}

.heading-comment {
  text-align: center;
  margin-bottom: 0.8em;
}

.comments-elements {
  list-style: none;
}

.comments-elements li {
  margin-bottom: 0.4em;
  background-color: rgba(74, 74, 74, 0.115);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 1.4px 3.2px;
  border-radius: 5px;
  padding: 0.2em;
  max-width: 25em;
}

.popup-form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 30em;
  margin: 0 auto;
}

.popup-form-section h2 {
  text-align: center;
}

#comment-form {
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#comment-form input {
  max-width: 12em;
}

#comment-form textarea {
  max-width: 15em;
  height: 6em;
}

#comment-form input,
#comment-form textarea {
  padding: 0.3em;
  border: 3px solid #d8ffd082;
  outline-color: #e1f8e389;
  background-color: #ffffff47;
  box-shadow: rgba(0, 0, 0, 0.15) 5.4px 3.4px 3.2px;
  transition: transform 0.3s;
  border-radius: 4px;
  color: #000;
}

#comment-form input:focus,
#comment-form textarea:focus {
  transform: scale(1.05);
}

.button-comment {
  width: 9em;
}

button:not(.like-button, .quit-button) {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 2.2px;
  background-color: #12b0c9;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 0.3em;
}

button:not(.like-button, .quit-button):hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .popup-description-elements {
    grid-template-columns: 1fr;
  }
}
