*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  background-color: cornsilk;
}

/* Header */
header {
  display: flex;
  align-items: center;
  gap: 3em;
  justify-content: center;
  padding: 1em;
  min-height: 8rem;
}

#logo {
  width: 7rem;
}

nav {
  width: 22.5em;
}

.nav-element {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-element li a {
  text-decoration: none;
  color: #000;
}

/* Cards */

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  width: 90%;
  margin: 2em auto;
}

.card {
  margin-bottom: 1em;
  padding: 1rem;
  border: 1px solid #000;
  background-color: papayawhip;
}

.card-image {
  width: 12em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h4 {
  max-width: 6rem;
  margin-top: 0.7rem;
}

.containerCardTitleLikeBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerLikes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.like-button {
  border: none;
  cursor: pointer;
  background: url('./assets/web_heart_animation.webp');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1450px;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.like-button:hover {
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-name: heartTransition;
  animation-timing-function: steps(28);
  background-position: right;
}

@-webkit-keyframes heartTransition {
  0% { background-position: left; }
  100% { background-position: right; }
}

@keyframes heartTransition {
  0% { background-position: left; }
  100% { background-position: right; }
}

/* Footer */

footer {
  padding: 2em;
  border-top: 1px solid #000;
  width: 100%;
  background-color: #fff;
  margin-top: 1em;
}

footer p {
  font-size: 1.2em;
}

/* Pop up Window */

.popup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.popup-ele {
  position: fixed;
  z-index: 1;
  top: 1em;
  padding: 1em;
  border-radius: 4px;
  height: auto;
  width: 70%;
  background-color: rgb(226, 226, 226);
}

.popup-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-description img {
  width: 15em;
  margin-bottom: 1em;
}

.button-div {
  display: flex;
  flex-direction: row-reverse;
}

.quit-button {
  border: none;
  cursor: pointer;
  background-color: #edebeb;
  height: 2.25em;
}

.quit-button img {
  width: 2.2em;
}

.popup-description-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
  row-gap: 1em;
  margin: 1.5em;
}

.popup-form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 30em;
  margin: 0 auto;
}

.popup-form-section h2 {
  text-align: center;
}

#comment-form {
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#comment-form input {
  max-width: 12em;
  padding: 0.3em;
}

#comment-form textarea {
  max-width: 15em;
  height: 6em;
}

.button-comment {
  width: 9em;
  padding: 0.4em;
}

@media (max-width: 768px) {
  .popup-description-elements {
    grid-template-columns: 1fr;
  }
}
